.container-history
	background-color: #ededed
	&-text
		padding: 50px 0 75px 
		width: 90%
		h2
			font-size: 20px
			margin: 0	
			padding: 0 0 20px
			font-family: "Roboto", sans-serif
			letter-spacing: .05em
		p
			font-size: 14px
			line-height: 25px
			margin-bottom: 50px
			letter-spacing: .05em
			padding-top: 35px
 
		 
		 